body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

* { 
  box-sizing: border-box;
}

.App {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  box-shadow:#918E9B;
  border-color: blue;
  border-width: 2px;
}

.navbar {
  height: 55px;
  background: #F55A5A;
  display: flex;
  justify-items: center;
  justify-content: center;
  
}

.nav__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}

.nav__heading > span {
  padding-right: 5px;
}

.section {
  display: flex;
  margin: 45px 40px 45px 40px;
}

.section__img {
  width: 126px;
  height: 168px;

}

.section__content {
  margin-left: 20px;
  
}

.section__location {
  margin-top: 10px;
  display: flex;
  justify-items: baseline;
}

.section__location-icon {
  color: #F55A5A;
  font-size: 80%;
}

.section__location-country {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  margin-block-end: 0;
  margin-block-start: 0;
  color: #2B283A;
  padding-left: 4px;
  padding-right: 12px;
}

.section__location-link {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  /* identical to box height */
  text-decoration-line: underline;
  color: #918E9B;
}

.section__location-address {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
  padding-top: 7px;
  padding-bottom: 20px;
}

.section__date {
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  
  color: #2B283A;
}

.section__description {
  padding-top:10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */
  color: #2B283A;
}
