body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
 
}

* { 
  box-sizing: border-box;
}

.App {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  height: 65px;
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  height: 26.22px;
  margin-left: 10px;
  /* align-items: center; */
}

.nav__logo {
  width: 31.31px;
  height: 26.22px;
}

.nav__heading {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  padding-left: 7px;
}



.nav__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  
  color: #FFFFFF;
  margin-right: 17px;
}

.form-data {
  margin-left: auto;
  margin-right: auto;
}

.form {
  border: 0.5px solid #cccccc;
  padding-top: 36px; 
  padding-bottom: 36px;
  padding-left: 36px;
  padding-right: 36px;
}

.form__input {
  width: 230px;
  height: 35px;
  /* border-radius: 2px; */
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  
}

.form__input:first-child {
  margin-right: 16px;
}

.form__submit {
  margin-top: 15px;
  height: 40px;
  width: 100%;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.1em;
  border-width: 0px;
  color: #FFFFFF;
  padding: 0;
  cursor: pointer;
}

.form__generator {
  position: relative;
}

.form__img {
  width: 477px;
  height: 268px;
  border-radius: 2px;
  margin-top: 36px;
  
} 

.form__text{
  font-family: 'Impact';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  /* identical to box height */
  color: #FFFFFF;
  /* border: 2px solid #000000; */
}

.form__text--top {
  position: absolute;
  top: 40px;
  left: 0; 
  right: 0;
  margin: 0 auto;
}

.form__text--bottom {
  position: absolute;
  left: 0; 
  right: 0;
  margin: 0 auto;
  bottom: 40px;
  text-align: center;
}
