* {
    box-sizing: border-box;
}


.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    margin: 2px;
    border-radius: 2px;
}

.box > p {
    margin: 0;
    margin-block: 0;
    /* display: inline-block; */
}