* {
    box-sizing: border-box;
}

.box {
    margin-top: 5px;
}

.box__item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    margin: 2px;
    border-radius: 2px;
}